.User_SideBar
{
   border-right: 1px solid black;
    display: inline-block;
    width: 25%;
    position: absolute;
    height: 100%;
    left: 0;
}

.User_SetBar
{
    background-color: rgb(3, 3, 207);
    display: inline-block;
    width: 75%;
    padding: 1em;
    color: white;
    position: absolute;
    left: 25%;
}
.titleBar{
font-size: xx-large;
}


