.User_SideBar
{
   border-right: 1px solid black;
    display: inline-block;
    position: absolute;
    height: 100%;
    left: 0;
}

.User_SetBar
{
    background-color: rgb(3, 3, 207);
    display: inline-block;
    width: 100%;
    padding: 1em;
    color: white;
    position: absolute;
    left: 0;
    transition: all .5s;
}
.titleBar{
font-size: xx-large;
}
.newBtn{
    background-color: rgb(69, 245, 24);
    border-color: rgb(69, 245, 24);
    color: white;
    border-radius: 5px;
    padding: 6px 12px;
    position: absolute;
    right: 6em;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.User_SideBar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: all .5s ease;
}
.User_SideBar p{
    color: black;
}
#firstname{
    margin-top: 1.6em;
    margin-bottom: 0.5em;
}
#username{
    margin-bottom: 1.7em;
}

.User_SideBar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
padding-left: 50px;
}
#check{
   
}
label #btn1, label #cancel{
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}
label #btn1{
left: 40px;
top: 0px;
font-size: 35px;
color: white;
padding:6px 12px ;
transition: all .5s;
}

#check:checked ~ .User_SideBar {
left: 0;
}
#check:checked ~ label #btn1{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ .User_SetBar{
    margin-left: 250px;
    width: 85%;
}