
.Card {

  /* Add shadows to create the "card" effect */
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: 25%;
  transition: 0.3s;

}


/* On mouse-over, add a deeper shadow */

.Card:hover {

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
#userSettingsTitle{
  color:rgb(3, 3, 207);
}

/* Add some padding inside the card container */

.Container {
  padding: 2px 16px;
}
.User{
  margin-top: 2em;
}
.userSettingsInput{
  margin-bottom: 1em;
  
}
.userSettingsBtn{
  background-color: rgb(3, 3, 207);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 2em;
}