
.Card {

    /* Add shadows to create the "card" effect */
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 30%;
    transition: 0.3s;
    padding-top: 5%;
  }

  
  /* On mouse-over, add a deeper shadow */
  
  .Card:hover {
  
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
  }
  
  
  /* Add some padding inside the card container */
  
  .Container {
  
    padding: 2px 16px;
  
  }
h2{
  color: rgb(3, 3, 207);
}
h5{
  color:rgb(3, 3, 207);
}
  .buttonD{
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
  }
  .buttonC{
    border-radius: 5px;
    background-color: rgb(3, 3, 207);
    color: white;
    padding: 5px 15px;
    margin: 5px;

  }