
.Transaction_Card {

    /* Add shadows to create the "card" effect */
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 25%;
    transition: 0.3s;
  
  }
  
  
  /* On mouse-over, add a deeper shadow */
  
  .Transaction_Card:hover {
  
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
  }
  
  
  /* Add some padding inside the card container */
  
  .TransactionD_Container {
  
    padding: 2px 16px;
  
  }